body {
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}

.colored-section {
  background-color: #3498db;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
}

.title-img {
  width: 100%;
  /* transform: rotate(25deg); */
  /* position: absolute; */
  right: 30%;
}

.card-text {
  color: black;
}

.btn-general {
  background-color: #3498db;
  border-color: #3498db;
}

.about-me {
  text-align: start;
}

.contact-me {
  text-align: start;
  margin: 0 auto;
  width: 100%; /* value of your choice which suits your alignment */
}

.footer-content {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-content p {
  margin-top: 20px;
}

.icon-footer {
  font-size: 3em;
  margin: 20px 20px;
  color: #fff;
}

/* Media Query */
@media (max-width: 1028px) {
  #title {
    text-align: center;
    /* color: black; */
  }

  .big-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;
  }

  .section-heading {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }

  .btn-general {
    background-color: #3498db;
    border-color: #3498db;
    width: 100%;
  }
}
